.grid-container{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: 100px 200px 300px;
    gap: 10px;
}

.item{
    background: orange;
    border: 1px solid black;
}